body {
    font-family: sans-serif;
    margin: 5px;
    height: 100%;
    background-color: #f1f1f1;
}
.header span{
    display: inline-block;
    font-size:15px;
    text-align: left;
    margin: 10px;
}
.signIn {
    float: right;
    background-color: #6363ff; /* Green */
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:15px;
    border-radius: 5px;
}

.middleBg {
    background-image: url("https://images.unsplash.com/photo-1524275804141-5e9f2bc5a71d?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTN8fHNlYXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 0.9;
    border-radius: 3px;
}

.middleText {
    text-align: center;
    font-size: 28px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.middleInput {
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

input[type=text] {
    font-size: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px 40px;
}

input[type=submit]{
    background-color: #6363ff; /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

.container{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
