html, body {
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a:link{
    color: black;
    text-decoration: none;
}
a:visited{
    color: black;

}


.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.header {
    background-color: #cfcfcf;
    grid-column: 1 / span 4;
    border-bottom: 1px solid #643327;
}
.headerText {
    position: relative;
    top: 40px;
    margin: 5px;
}
.logo{
    padding-right: 10px;
    border-radius: 5px;
    float: right;
    position: relative;
    bottom: 50px;
}

.left {
    background-color: #cfcfcf;
    grid-row: 2 / span 6;
    border-right: 1px solid #643327;
    height: 100%;

}
.leftContact h3 {
    padding: 3px 3px;
    text-align: center;
}
.leftContact p{
    padding: 5px;
}
h3{
    text-decoration: underline;

}

ul li{
    list-style-type: none;
    margin: 0px;
    padding: 3px
}

.right {
    background-color: #cfcfcf;
    grid-row: 2 / span 6;
    grid-column: 2 / span 3

}
.rightAbout {
    padding: 3px 3px;
}
.contactForm {
    border-radius: 5px;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

input[type=submit] {
    background-color: #454545;
    color: white;
    padding: 4px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #000000;
}

.footer {
    background-color: #cfcfcf;
    grid-column: 1 / span 4;
}

