body{
    font-family: sans-serif;
}

.cat{
    width: 500px;
    height: 500px;
    border-radius: 20px;
}

a:link{
    color: black;
}
a:visited{
    color: black;
}
a:hover{
    color: grey;
}

.difference{
    text-align: center;
}