body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
}

h2{
    color: #ba3535;
    font-weight: bold;
}

a:link{
color: black;
}

a:visited{
    color: black;
}
a:hover{
    color: gray;
}

fieldset{
    border: 1px solid;
    border-radius: 20px;
    max-width: 50%;
    padding: 10px 10px;
}