body{
    font-family: sans-serif;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    align-items: stretch;
}

.container > .book-card {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.06);
}

.container > .book-card > img {
    max-width: 100%;
}

.container {
    padding: 0 20px 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    background-color: #3b3b3b;
    color: white;
    font-size: 2rem;
    -webkit-box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
    -moz-box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
    box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);

}


.search-bar {
    padding: 5px 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.search-bar button {

    background-color: #585858;
    border-style: none;
    cursor: pointer;
    font-size: 1rem;
    color: white;
    margin: 5px;
}

